@font-face {
  font-family: 'DotGothic16';
  src: url(https://bluntslapp.github.io/fonts/DotGothic16-Regular.woff2) format('woff2');
  src: url(https://bluntslapp.github.io/fonts/DotGothic16-Regular.woff) format('woff');
  src: url(https://bluntslapp.github.io/fonts/DotGothic16-Regular.ttf) format('truetype');
}

body {
	background-image: url("https://bluntslapp.github.io/res/purpletexture.png");
	background-color: #000000;
	font-family: 'DotGothic16', 'Comic Sans MS';
	transition: background-color .5s;
	}
	
#wholepage { position:absolute; margin:0px; width:100%; }

#ppclnk {
	position: relative;
	padding-bottom: 25px;
}

#armlnk {
	position: relative;
	padding-top: 25px;
	padding-bottom: 25px;
}

#menu-home {
	position: relative;
	padding-left: 375px;
}

#menu-pages {
	position: relative;
	padding-left: 175px;
}

#menu-links{
	position: relative;
	padding-right: 375px;
}

#menu-about{
	position: relative;
	padding-right: 175px;
}


#pause {
	position: absolute;
	cursor: pointer;
	padding: 3px;
	right: 30px;
	top: 30px;
}

#play {
	position: absolute;
	cursor: pointer;
	padding: 5px;
	right: 80px;
	top: 28px;
}

#title {
	position: center;
	padding: 5px;
	margin-left: 267px;
	margin-right: 267px;
}

#ppcleo {
	position: absolute;
	padding: 0px;
	left: 25px;
	top: 500px;
}

#ppcbsd {
	position: absolute;
	padding: 0px;
	left: 320px;
	top: 515px;
}

#ppclinux {
	position: absolute;
	padding: 0px;
	left: 625px;
	top: 490px;
}

#codolra {
	position: relative;
	padding-bottom: 25px;
}


#github {
  position: absolute;
  padding: 0px;
  top: 0px;
  left: 0px;
  transform: scaleX(-1);
}

#magmake {
	position: relative;
	padding-bottom: 25px;
}

#lightbar {
	position: absolute;
	padding: 0px;
	margin: 0px;
	left: 755px;
	top: 125px;
}