@font-face {
  font-family: 'DotGothic16';
  src: url(https://bluntslapp.github.io/fonts/DotGothic16-Regular.woff2) format('woff2');
  src: url(https://bluntslapp.github.io/fonts/DotGothic16-Regular.woff) format('woff');
  src: url(https://bluntslapp.github.io/fonts/DotGothic16-Regular.ttf) format('truetype');
}

body {
	background-image: url("https://bluntslapp.github.io/res/purpletexture.png");
	background-color: #000000;
	font-family: 'DotGothic16', 'Comic Sans MS';
	transition: background-color .5s;
	}
	
#wholepage {width:100%;}

#menu-home {
	position: relative;
	padding-left: 375px;
}

#menu-pages {
	position: relative;
	padding-left: 175px;
}

#menu-links{
	position: relative;
	padding-right: 375px;
}

#menu-about{
	position: relative;
	padding-right: 175px;
}

#title {
	position: relative;
}

#github {
  position: absolute;
  margin: 0px;
  padding: 0px;
  top: 0px;
  left: 0px;
  transform: scaleX(-1);
}